<%- include('partials/header'); %>
<h1 class="h1">home</h1>
<p><%= homeContent %> </p>

<%  posts.forEach( post => { %>
        <h1 class="h1">
        <%= post.Title %>
        </h1>
        <p class="pa">
            <%= post.Content.substring(0,100)+"..." %> 
        </p>
        <a href="/posts/<%=post._id%> " > Read More</a>
<% }); %>  

<%- include('partials/footer'); %>